<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>899694146868-6dr67h7hm72osm6ec7sbnkvcsguqe48b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.899694146868-6dr67h7hm72osm6ec7sbnkvcsguqe48b</string>
	<key>API_KEY</key>
	<string>AIzaSyDq3H1m81qzT-UBD1n90sdBuBr_2tZzKfs</string>
	<key>GCM_SENDER_ID</key>
	<string>899694146868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yourssu.snowe</string>
	<key>PROJECT_ID</key>
	<string>snowe-4e3c2</string>
	<key>STORAGE_BUCKET</key>
	<string>snowe-4e3c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:899694146868:ios:965c340ce9a28b242ee161</string>
</dict>
</plist>